<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <henrique_kieckbusch>
            <autocsp>
                <enabled>0</enabled>
                <capture>0</capture>
                <inline_scripts>0</inline_scripts>
            </autocsp>
        </henrique_kieckbusch>
    </default>
</config>
